[Unit]
Description=Erigon Node
After=network.target network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/erigon --datadir=/var/data/mainnet --private.api.addr=0.0.0.0:8090 --prune=htc --prune.r.before=15279805 --metrics --metrics.addr 0.0.0.0
User=erigon
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
