[Unit]
Description=Erigon RPC Daemon
After=erigon.service

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/rpcdaemon --datadir=/var/data/mainnet --txpool.api.addr=0.0.0.0:9090 --private.api.addr=0.0.0.0:9090 --http.addr=0.0.0.0 --http.api=eth,erigon,web3,net,debug,txpool --ws
User=erigon
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
